#header {
  width: 100%;
  min-height: 65px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* Navbar position fixed*/
  z-index: 1030;
  color: white;
}

#wrapper {
  margin: 70px auto;
  text-align: center;
}

#wrapper h1 {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

label.label-lg {
  font-size: 25px;
  font-weight: 300;
}

.no-glow {
  outline: none !important;
}

.row-summary {
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
}

.row-buttons {
  text-align: left;
}

.btn-margin {
  margin: 0 0 10px 10px;
}

img.coffee-cup {
  height: 65px;
}

/*Buttons styling "borrowed" http://callmenick.com/tutorial-demos/stylish-css-buttons/*/
button {
  display: inline-block;
  margin: 10px;
  padding: 0 30px;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

.col-md-4.press button {
  color: #fff;
  background-color: #6F4E37;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #493D26;
}

.col-md-4.press button:active,
.col-md-4.press button.active {
  background-color: #6F4E37;
  box-shadow: 0 5px #493D26;
  transform: translateY(5px);
}

.total {
  font-size: 45px;
}

#tick {
  height: 50px;
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 1;
}

svg#tick {
  display: none;
}
